@{
    ViewData["Title"] = "错误";
}

<h1 class="text-danger">错误</h1>
<h2 class="text-danger">处理您的请求时发生错误。</h2>

@if (ViewData["RequestId"] != null)
{
    <p>
        <strong>Request ID:</strong> <code>@ViewData["RequestId"]</code>
    </p>
}

